<div class="orders">
  <div class="orders__inner" *ngIf="orders; else loading">
    <div *ngIf="orders.length > 0; then ordersList; else firstOrder"></div>

    <ng-template #ordersList>
      <div class="orders__title">
        <h4>Orders</h4>
      </div>

      <ul class="orders__list">
        <li class="orders__list-item" *ngFor="let order of orders">
          <span class="orders__list-item-img"></span>
          <span class="orders__list-item-name"
            >{{ order.name }} - ${{ order.price }}</span
          >
          <button
            class="btn btn-secondary orders__list-item-button"
            [routerLink]="['edit', order._id]"
          >
            Edit
          </button>
          <button
            class="btn btn-danger orders__list-item-button"
            (click)="deleteOrder(order._id)"
          >
            Delete
          </button>
        </li>
      </ul>

      <a class="orders__add-new" [routerLink]="['create']">Add new Order</a>
    </ng-template>

    <ng-template #firstOrder>
      <div class="orders__title">
        <h4>You have no orders yet</h4>
      </div>

      <a class="orders__add-new" [routerLink]="['create']">Add new Order</a>
    </ng-template>
  </div>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>
</div>
