<form
  [formGroup]="abstractProductForm"
  (ngSubmit)="onSubmit()"
  class="product-form mb-5"
>
  <div class="product-form__input-group">
    <label for="inputName">Name</label>
    <input
      formControlName="name"
      type="text"
      id="inputName"
      class="form-control"
      placeholder="Product name"
    />
  </div>
  <div class="product-form__input-group">
    <label for="inputCategory">Category</label>
    <select formControlName="category" class="form-control" id="inputCategory">
      <option value="" disabled selected>Select category option</option>
      <option
        *ngFor="let category of categories$ | async"
        [value]="category._id"
      >
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="status"
        id="inputStatus"
      />
      <label class="form-check-label" for="inputStatus"> Status </label>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
