<header class="c-header">
  <div class="o-box">
    <div class="c-header-wrap">
      <div class="c-header-logo">
        <a [routerLink]="['/']" class="c-header-logo__link">
          <img
            src="https://hvoya.com/static/front/img/logo.svg"
            width="148"
            height="59"
            alt="HVOYA"
          />
        </a>
      </div>

      <nav class="c-header-nav">
        <ul class="c-header-nav__list">
          <li class="c-header-nav__item">
            <a
              [routerLink]="['/catalog']"
              routerLinkActive="is-active"
              class="c-header-nav__link"
              >Продукція</a
            >
          </li>
          <div
            *ngIf="isUserSignedIn; then signedInBlock; else signedOutBlock"
          ></div>
          <ng-template #signedInBlock>
            <li class="c-header-nav__item">
              <a
                [routerLink]="['/customer-account']"
                routerLinkActive="is-active"
                class="c-header-nav__link"
                >Акаунт</a
              >
            </li>
            <li class="c-header-nav__item">
              <a
                *ngIf="isUserSeller"
                [routerLink]="['/backoffice']"
                routerLinkActive="is-active"
                class="c-header-nav__link"
                >Адмінка</a
              >
            </li>
          </ng-template>
          <ng-template #signedOutBlock>
            <li class="c-header-nav__item">
              <a
                [routerLink]="['/sign-up']"
                routerLinkActive="is-active"
                class="c-header-nav__link"
                >Реєстрація</a
              >
            </li>
            <li class="c-header-nav__item">
              <a
                [routerLink]="['/sign-in']"
                routerLinkActive="is-active"
                class="c-header-nav__link"
                >Логін</a
              >
            </li>
          </ng-template>
          <li class="c-header-nav__item">
            <a
              [routerLink]="['/cart']"
              routerLinkActive="is-active"
              class="c-header-nav__link"
              >Кошик ({{ cartProducts.length }})</a
            >
          </li>
          <!-- <li class="c-header-nav__item">
            <a
              [routerLink]="['/about']"
              routerLinkActive="is-active"
              class="c-header-nav__link"
              >Про компанію</a
            >
          </li>
          <li class="c-header-nav__item">
            <a
              [routerLink]="['/contacts']"
              routerLinkActive="is-active"
              class="c-header-nav__link"
              >Контакти</a
            >
          </li> -->
        </ul>
      </nav>

      <div class="c-header-language">
        <ul class="c-header-language__list">
          <li class="c-header-language__item">
            <a [routerLink]="['/']" class="c-header-language__link"> en </a>
          </li>
          <li class="c-header-language__item">
            <a [routerLink]="['/']" class="c-header-language__link"> ru </a>
          </li>
          <li class="c-header-language__item is-active">
            <a [routerLink]="['/']" class="c-header-language__link"> uk </a>
          </li>
        </ul>
      </div>

      <div class="c-header-hamburger">
        <a href="" class="c-header-hamburger__link js-header-hamburger__link">
          <span class="c-header-hamburger__text">Меню</span>

          <div class="c-header-hamburger__icon">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
