<div class="products">

  <div class="products__inner" *ngIf="products; else loading">
    <div *ngIf="products.length > 0; then productsList else firstProduct"></div>

    <ng-template #productsList>
      <div class="products__title">
        <h4>Products</h4>
      </div>

      <ul class="products__list">
        <li class="products__list-item" *ngFor="let product of products">
          <span class="products__list-item-img"></span>
          <span class="products__list-item-name">{{ product.name }} - ${{ product.price }}</span>
          <button class="btn btn-secondary products__list-item-button" [routerLink]="['edit', product._id]">Edit</button>
          <button class="btn btn-danger products__list-item-button" (click)="deleteProduct(product._id)">Delete</button>
        </li>
      </ul>

      <a class="products__add-new" [routerLink]="['create']">Add new Product</a>
    </ng-template>

    <ng-template #firstProduct>
      <div class="products__title">
        <h4>You have no products yet</h4>
      </div>

      <a class="products__add-new" [routerLink]="['create']">Add new Product</a>
    </ng-template>
  </div>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

</div>
