<footer class="c-footer">
  <div class="o-box">
    <div class="c-footer-top">
      <div class="c-footer-guarantee">
        <p class="text-lg"><b>Гуртовим клієнтам</b></p>

        <p>
          <a
            [routerLink]="['/']"
            rel="noopener noreferrer nofollow"
            >Гуртовим клієнтам</a
          >
          компанія HVOYA допомагає будувати ефективний і&nbsp;рентабельний
          бізнес
        </p>
      </div>

      <div class="c-footer-payment">
        <p class="text-lg"><b>Оплата та доставка</b></p>

        <p>
          Детальна інформація про способи оплати&nbsp;та
          <a
            [routerLink]="['/']"
            rel="noopener noreferrer nofollow"
            >доставки</a
          >
        </p>
      </div>

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "https://hvoya.com",
          "name": "НVOYA",
          "telephone": "+38(067) 342-99-01",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "с. Великий Омеляник, Україна",
            "postalCode": "43000",
            "streetAddress": "вул. Нагірна, 1а"
          }
        }
      </script>

      <div class="c-footer-contacts">
        <p>
          вул. Нагірна, 1а<br />с. Великий Омеляник,<br />Волинська обл.,<br />Україна
        </p>
        <div>
          <a href="tel:+38(067) 342-99-01" class="c-footer-phone"
            ><b>+38(067) 342-99-01</b></a
          >
        </div>
      </div>
    </div>

    <div class="c-footer-bottom">
      <div class="c-footer-social">
        <p>
          Приєднуйтесь також до НVOYA у
          <img
            src="https://hvoya.com/static/front/img/svg/facebook.svg"
            width="8"
            height="16"
            alt="фейсбук"
          />
          &nbsp;<a target="blank" href="https://www.facebook.com/HVOYAcom">фейсбук</a>
          ,
          <img
            src="https://hvoya.com/static/front/img/svg/instagram.svg"
            width="16"
            height="16"
            alt="інстаграм"
          />
          &nbsp;<a target="blank" href="https://www.instagram.com/hvoya.lutsk/"
            >інстаграм</a
          >
          та
          <img
            src="https://hvoya.com/static/front/img/svg/youtube.svg"
            width="16"
            height="12"
            alt="youtube"
          />
          &nbsp;<a
            target="blank"
            href="https://www.youtube.com/channel/UCNZpVeaakNjdz19dwJPobPQ"
            >youtube</a
          >
        </p>
      </div>

      <div class="c-footer-language">
        <ul class="c-footer-language__list">
          <li class="c-footer-language__item">
            <a [routerLink]="['/']" class="c-footer-language__link">
              en
            </a>
          </li>
          <li class="c-footer-language__item">
            <a [routerLink]="['/']" class="c-footer-language__link">
              ru
            </a>
          </li>
          <li class="c-footer-language__item is-active">
            <a [routerLink]="['/']" class="c-footer-language__link">
              uk
            </a>
          </li>
        </ul>
      </div>

      <div class="c-footer-copy">
        <p>©2021 HVOYA</p>
      </div>
    </div>
  </div>
</footer>
