<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="form-wrapper">
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
          <div class="form-section">
            <p class="form-title">Логін</p>
            <div class="form-row">
              <div class="form-col">
                <div class="form-group">
                  <input
                    autofocus="autofocus"
                    formControlName="email"
                    type="email"
                    id="inputEmail"
                    class="form-control"
                    [class]="{
                      'has-error': emailCtrl.invalid && emailCtrl.touched
                    }"
                  />
                  <label for="inputEmail" class="form-label">Емейл</label>
                  <small
                    *ngIf="emailCtrl.invalid && emailCtrl.touched"
                    class="text-danger"
                    >Будь ласка, вкажіть eмейл</small
                  >
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-col">
                <div class="form-group">
                  <input
                    formControlName="password"
                    type="password"
                    id="inputPassword"
                    class="form-control"
                    [class]="{
                      'has-error': passwordCtrl.invalid && passwordCtrl.touched
                    }"
                  />
                  <label for="inputPassword" class="form-label">Пароль</label>
                  <small
                    *ngIf="passwordCtrl.invalid && passwordCtrl.touched"
                    class="text-danger"
                    >Будь ласка, вкажіть пароль</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-col">
              <button
                #submitButton
                type="submit"
                class="btn btn-primary btn-block"
              >
                Увійти
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
