<div class="categories">

  <div class="categories__inner" *ngIf="categories; else loading">
    <div *ngIf="categories.length > 0; then categoriesList else firstCategory"></div>

    <ng-template #categoriesList>
      <div class="categories__title">
        <h4>Categorys</h4>
      </div>

      <ul class="categories__list">
        <li class="categories__list-item" *ngFor="let category of categories">
          <span class="categories__list-item-img"></span>
          <span class="categories__list-item-name">{{ category.name }} - ${{ category.price }}</span>
          <button class="btn btn-secondary categories__list-item-button" [routerLink]="['edit', category._id]">Edit</button>
          <button class="btn btn-danger categories__list-item-button" (click)="deleteCategory(category._id)">Delete</button>
        </li>
      </ul>

      <a class="categories__add-new" [routerLink]="['create']">Add new Category</a>
    </ng-template>

    <ng-template #firstCategory>
      <div class="categories__title">
        <h4>You have no categories yet</h4>
      </div>

      <a class="categories__add-new" [routerLink]="['create']">Add new Category</a>
    </ng-template>
  </div>

  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

</div>
