<div class="container-fluid">
  <div class="row">

    <div class="col-9">
      <div class="products-list py-3">
        <div *ngFor="let product of products; index as i" class="products-list__item  pt-3 p-3 p-md-5 text-center overflow-hidden" [ngClass]="{'bg-light': i % 2 == 0, 'bg-dark': i % 2 == 1, 'text-white': i % 2 == 1}">
          <div class="my-3 py-3">
            <h2 class="display-5">{{ product.product.name }}</h2>
            <p class="lead">${{ product.product.price }}</p>
          </div>
          <div class="d-flex flex-column">
            <label class="add-to-cart-label" [attr.for]="'quantity-' + product.product._id">Qty:</label>
            <input class="form-control mt-1" type="number" [attr.id]="'quantity-' + product.product._id" [(ngModel)]="product.quantity">
            <button class="btn btn-info mt-3 add-to-cart-btn" (click)="addToCart(product)">Add to cart</button>
            <button class="btn btn-danger mt-3 add-to-cart-btn" (click)="removeFromCart(product)">Remove from cart</button>
          </div>
        </div>
        <app-loader *ngIf="loading"></app-loader>
      </div>
    </div>

    <div class="col-3 mt-3">
      Total Price: {{ cart?.totalPrice }}
    </div>

  </div>
</div>
