<div class="c-catalog-item">
  <div class="c-catalog-item__img">
    <a
      [routerLink]="['/products', primaryProduct.code]"
      class="c-catalog-item__link"
    >
      <picture class="c-catalog-item__img-picture">
        <!-- <source
          srcset="
            /static/uploads/99/conversions/yalynka-lyta-lux-2-2-thumb.jpg 1x,
            /static/uploads/99/conversions/yalynka-lyta-lux-2-2-thumb.jpg 2x
          "
          type="image/jpeg"
        />
        <source
          srcset="
            /static/uploads/99/conversions/yalynka-lyta-lux-2-2-thumbWebp.webp 1x,
            /static/uploads/99/conversions/yalynka-lyta-lux-2-2-thumbWebp.webp 2x
          "
          type="image/webp"
        /> -->
        <img [src]="primaryProduct.primaryImage" [alt]="primaryProduct.name" />
      </picture>
    </a>

    <div class="c-catalog-item__colors">
      <a
        href="https://hvoya.com/catalog/christmas-products/yalynky-lyti/yalynka-lyta-lux-2-2/100-220-W"
      >
        <div
          class="c-catalog-item__colors-item"
          style="background-color: #edeef4"
        ></div>
      </a>
      <a
        href="https://hvoya.com/catalog/christmas-products/yalynky-lyti/yalynka-lyta-lux-2-2/100-220-B"
      >
        <div
          class="c-catalog-item__colors-item"
          style="background-color: #87e3ef"
        ></div>
      </a>
      <div
        class="c-catalog-item__colors-item"
        style="background-color: #6da35a"
      ></div>
    </div>
  </div>

  <a
    href="https://hvoya.com/catalog/christmas-products/yalynky-lyti/yalynka-lyta-lux-2-2/100-220-G"
    class="c-catalog-item__link"
  >
    <p class="c-catalog-item__info">
      <span class="c-catalog-item__article">{{ primaryProduct.code }}</span>
      <span class="c-catalog-item__size"
        ><img
          src="https://hvoya.com/static/front/img/svg/height-arrows.svg"
          alt=""
        />220</span
      >
      <span class="c-catalog-item__size"
        ><img
          src="https://hvoya.com/static/front/img/svg/width-arrows.svg"
          alt=""
        />140</span
      >
      <span class="c-catalog-item__size">16 кг</span>
    </p>
    <p class="text-lg">
      <b>{{ primaryProduct.name }}</b>
    </p>
  </a>

  <ul class="c-catalog-item__property">
    <li class="c-catalog-item__property-item">
      <a
        href="https://hvoya.com/catalog/christmas-products/yalynky-lyti/cast-christmas-tree-3/100-300-G"
        class="c-catalog-item__property-link"
        >300 см</a
      >
    </li>

    <li class="c-catalog-item__property-item">
      <a
        href="https://hvoya.com/catalog/christmas-products/yalynky-lyti/cast-christmas-tree-2-6/100-260-G"
        class="c-catalog-item__property-link"
        >260 см</a
      >
    </li>

    <li class="c-catalog-item__property-item is-active">
      <a
        href="https://hvoya.com/catalog/christmas-products/yalynky-lyti/yalynka-lyta-lux-2-2/100-220-G"
        class="c-catalog-item__property-link"
        >220 см</a
      >
    </li>

    <li class="c-catalog-item__property-item">
      <a
        href="https://hvoya.com/catalog/christmas-products/yalynky-lyti/yalynka-lyta-lux-1-8/100-180-G"
        class="c-catalog-item__property-link"
        >180 см</a
      >
    </li>

    <li class="c-catalog-item__property-item">
      <a
        href="https://hvoya.com/catalog/christmas-products/yalynky-lyti/yalynka-lyta-lux-1-6/100-160-G"
        class="c-catalog-item__property-link"
        >160 см</a
      >
    </li>

    <li class="c-catalog-item__property-item">
      <a
        href="https://hvoya.com/catalog/christmas-products/yalynky-lyti/yalynka-lyta-lux-1-2/100-120-G"
        class="c-catalog-item__property-link"
        >120 см</a
      >
    </li>
  </ul>

  <p class="text-h3 font-400">{{ primaryProduct.price }} ₴</p>
</div>
